{
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "useTabs": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
